<!-- Copyright 2017, José Verdú Díaz, All rights reserved.-->
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Bustop</title>
		<meta charset="utf-8">
		
		<!-- JQuery-->
		<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">

		<!-- css propio -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>

		<div class="page-header row">
			<div class="col-md-4"></div>

			<div class="col-md-4">
				<h1><a href="/">Bustop</a></h1>
			</div>

			<div class="menu col-md-2">
				<div class="submenu">
					<a href="{% url 'lineas' %}"><button type="button" class="btn btn-default btn-lg btn-block">
	  					<span class="glyphicon glyphicon-road" aria-hidden="true"></span> Líneas
					</button></a>
				</div>
				<div class="espacio"></div>
				<a href="#"><div class="submenu">
					<button type="button" class="btn btn-default btn-lg btn-block">
	  					<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Tarifas
					</button></a>
				</div>
			</div>

			<div class="menu col-md-2">
				<div class="submenu">
					<a href="#"><button type="button" class="btn btn-default btn-lg btn-block">
	  					<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Horarios
					</button></a>
				</div>
				<div class="espacio"></div>
				<div class="submenu">
					<a href="{% url 'rutas' %}"><button type="button" class="btn btn-default btn-lg btn-block">
	  					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Rutas
					</button></a>
				</div>
			</div>

		</div>

		{% block content %}
        {% endblock %}

		<footer class="footer">
		<p class="version"><a href="{% url 'versiones' %}">v.0.3.4</a></p>
		<p>Copyright ©2017, José Verdú Díaz, All rights reserved</p>
		</footer>

	</body>
</html>