<!-- Copyright 2017, José Verdú Díaz, All rights reserved.-->
{% extends 'bustopapp/base2.html' %}
{% block content %}
	<div id="map"></div>
	<h1>Estás mirando la línea {{linea_numero}}</h1>
	<script>
	var LatLangParada = [
		["{lat: 40.969092, lng:  -5.675925}"],
		["{lat: 38.737370, lng: -9.147660}"],
		["{lat: 40.412944, lng: -3.681914}"],
		["{lat: 41.385691, lng: 2.153859}"],
	]

		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
		    center: LatLangParada[{{linea_numero}}],
		    zoom: 8
		  });
		}

    </script>

    <!--API Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq9Goumq6MLbkX2bGyfeVILW0ZHkWQkXo&callback=initMap"
        async defer></script>
{% endblock %}
