<!-- Copyright 2017, José Verdú Díaz, All rights reserved.-->
{% extends 'bustopapp/base.html' %}
{% block content %}
	<p class="titulo1">¿Qué es Bustop?</p>

	<div class="contenido1">

		<p>Bustop es una aplicación web que proporciona funciones útiles a la hora de coger autobuses de la EMT en Palma de Mallorca.</p>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Rutas</p>

	<div class="contenido1">

		<p>Elija un punto de partida, uno destino y Bustop le mostrará la mejor ruta en transporte público para llegar hasta ella.</p>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Tarifas</p>

	<div class="contenido1">

		<p>Consulte todas las tarifas y bonos posibles para cojer el autobús.</p>
		<b style="color: #c83349;">Proximamente</b>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Líneas</p>

	<div class="contenido1">

		<p>Consulte líneas individuales de autobus para conocer su recorrido y paradas</p>
		<b style="color: #c83349;">En desarrollo</b>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Horarios</p>

	<div class="contenido1">

		<p>Consulte la frecuencia de autobuses de una línea concreta, además de su hora de salida y hora de retiro.</p>
		<b style="color: #c83349;">Proximamente</b>
		
	</div>
{% endblock %}