<!-- Copyright 2017, José Verdú Díaz, All rights reserved.-->
{% extends 'bustopapp/base.html' %}
{% block content %}
	<p class="titulo1">¿Qué es Bustop?</p>

	<div class="contenido1">

		<p>Bustop es una aplicación web que proporciona funciones útiles a la hora de coger autobuses de la EMT en Palma de Mallorca.</p>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Rutas</p>

	<div class="contenido1">

		<p>Elija un punto de partida, uno destino y Bustop le mostrará la mejor ruta en transporte público para llegar hasta ella.</p>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Tarifas</p>

	<div class="contenido1">

		<p>Consulte todas las tarifas y abonos posibles.</p>
		
	</div>

	<br>
	<br>

	<p class="titulo1">Líneas</p>

	<div class="contenido1">

		<p>Consulte el recorrido de las distintas líneas de autobús de la EMT</p>
		
	</div>

	<br>
	<br>
		
	</div>
{% endblock %}